This file tells Git to ignore sensitive files in the root directory.Ignore all environment variables.envIgnore any service account keysThis will match any file ending in .json*.jsonIgnore system files.DS_Store